html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--first-color);
    margin: 0%;
    padding: 0%;
}


.loader img {
    width: 20px;
    height: auto;

}

#load-logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  margin-top: 16em;
  width: 40%;
}

.invert {
    filter: invert(100%);
}


.icons {
    text-align: center;
    font-size: 30px;
    margin-left: 0%;
    margin-right: 20px;
    margin-top: 20px;
}

.star-icon {
    color: var(--second-color);
    padding: 12px;
}

.star-icon:hover {
    color: var(--third-color);
}

.home-icon {
    color: var(--second-color);
    padding: 12px;
    text-decoration: none;
}

.home-icon:hover {
    color: var(--third-color);
}

.portfolio-icon {
    color: var(--second-color);
    padding: 12px;
    text-decoration: none;
}

.portfolio-icon:hover {
    color: var(--third-color);
}

.mojelogo, .postavy, .infografika, .logo, .webovky, .emoji {
    padding: 20px;
    text-align: center;
}

.mojelogo h4, .postavy h4, .infografika h4, .logo h4, .webovky h4, .emoji h4 {
    font-size: 50px;
    color: var(--second-color);
    padding: 20px;
    font-family: var(--first-font);
    text-transform: uppercase;
    font-weight: 400;
}



.grafika1, .grafika2, .grafika3, .grafika4, .grafika5, .grafika6, .grafika7 {
    display: flex;
    justify-content: center ;
    align-items: center;
    padding: 0%;
    margin: 0%;
}

.grafika1 img, .grafika2 img, .grafika3 img, .grafika4 img, .grafika5 img, .grafika6 img, .grafika7 img {
    width: auto;
    height: 200px;
    transition: 200ms;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    margin-bottom: 25px;
    border-color: var(--fourth-color);
}    

.grafika1 img:hover, .grafika2 img:hover, .grafika3 img:hover, .grafika4 img:hover, .grafika5 img:hover, .grafika6 img:hover, .grafika7 img:hover {
    border-color: var(--third-color);
}

.grafika1 p, .grafika2 p, .grafika3 p, .grafika4 p, .grafika5 p, .grafika6 p, .grafika7 p {
    font-family: var(--second-font);
    font-size: 18px;
    color: var(--fourth-color);
    margin-bottom: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.grafika1 p:hover, .grafika2 p:hover, .grafika3 p:hover, .grafika4 p:hover, .grafika5 p:hover, .grafika6 p:hover, .grafika7 p:hover  {
    color: var(--second-color);
}

.grafika1-1 img, .grafika1-2 img, .grafika2-1 img, .grafika2-2 img, .grafika2-3 img, .grafika3-1 img, .grafika4-1 img, .grafika4-2 img, .grafika5-1 img, .grafika5-2 img, .grafika5-3 img, .grafika6-1 img, .grafika6-2 img, .grafika6-3 img, .grafika6-4 img, .grafika7-1 img, .grafika7-2 img, .grafika7-3 img {
    margin-left: 90px;
    margin-right: 90px;
}

.grafika7 p {
    margin-bottom: 100px;
}

@media screen and (max-width: 1850px){ 
    .grafika1 img, .grafika2 img, .grafika3 img, .grafika4 img, .grafika5 img, .grafika6 img, .grafika7 img {width: auto; height: 150px;}    
}

@media screen and (max-width: 1630px){ 
    .grafika1 img, .grafika2 img, .grafika3 img, .grafika4 img, .grafika5 img, .grafika6 img, .grafika7 img {width: auto; height: 120px; }    
    .mojelogo, .postavy, .infografika, .logo, .webovky, .emoji { padding: 0%; text-align: center;}
    .mojelogo h4, .postavy h4, .infografika h4, .logo h4, .webovky h4, .emoji h4 {padding: 5px;}
}

@media screen and (max-width: 1310px){ 
    .grafika1-1 img, .grafika1-2 img, .grafika2-1 img, .grafika2-2 img, .grafika2-3 img, .grafika3-1 img, .grafika4-1 img, .grafika4-2 img, .grafika5-1 img, .grafika5-2 img, .grafika5-3 img, .grafika6-1 img, .grafika6-2 img, .grafika6-3 img, .grafika6-4 img, .grafika7-1 img, .grafika7-2 img, .grafika7-3 img {
        margin-left: 50px; margin-right: 50px;}
    .grafika1 p, .grafika2 p, .grafika3 p, .grafika4 p, .grafika5 p, .grafika6 p, .grafika7 p {
        font-size: 12px;margin: 10px;
    }
}

@media screen and (max-width: 1075px){ 
    .grafika1-1 img, .grafika1-2 img, .grafika2-1 img, .grafika2-2 img, .grafika2-3 img, .grafika3-1 img, .grafika4-1 img, .grafika4-2 img, .grafika5-1 img, .grafika5-2 img, .grafika5-3 img, .grafika6-1 img, .grafika6-2 img, .grafika6-3 img, .grafika6-4 img, .grafika7-1 img, .grafika7-2 img, .grafika7-3 img {
        margin-left: 30px; margin-right: 30px;}
    .grafika1 p, .grafika2 p, .grafika3 p, .grafika4 p, .grafika5 p, .grafika6 p, .grafika7 p {font-size: 12px;margin-left: 25px; margin-right: 25px;}
}

@media screen and (max-width: 990px){ 
    .grafika1, .grafika2, .grafika3, .grafika4, .grafika5, .grafika6, .grafika7 { display: flex;}
    .grafika1 img, .grafika2 img, .grafika3 img, .grafika4 img, .grafika5 img, .grafika6 img, .grafika7 img {width: auto; height: 100px; }    
    .mojelogo h4, .postavy h4, .infografika h4, .logo h4, .webovky h4, .emoji h4 {margin: 25px; font-size: 35px;}
    .grafika1 p, .grafika2 p, .grafika3 p, .grafika4 p, .grafika5 p, .grafika6 p, .grafika7 p {font-size: 12px;margin-left: 10px; margin-right:10px; }
    .grafika1-1 img, .grafika1-2 img, .grafika2-1 img, .grafika2-2 img, .grafika2-3 img, .grafika3-1 img, .grafika4-1 img, .grafika4-2 img, .grafika5-1 img, .grafika5-2 img, .grafika5-3 img, .grafika6-1 img, .grafika6-2 img, .grafika6-3 img, .grafika6-4 img, .grafika7-1 img, .grafika7-2 img, .grafika7-3 img {margin-left: 20px;margin-right: 20px; }
}

@media screen and (max-width: 420px){ 
    .grafika1, .grafika2, .grafika3, .grafika4, .grafika5, .grafika6, .grafika7 { display: grid;}
    .grafika1 img, .grafika2 img, .grafika3 img, .grafika4 img, .grafika5 img, .grafika6 img, .grafika7 img {width: auto; height: 140px; }    
    .mojelogo h4, .postavy h4, .infografika h4, .logo h4, .webovky h4, .emoji h4 {margin: 25px; font-size: 25px;}
    .grafika1 p, .grafika2 p, .grafika3 p, .grafika4 p, .grafika5 p, .grafika6 p, .grafika7 p {font-size: 12px;margin-left: 35px; margin-right: 35px; color: var(--second-color);}
}