

html {
    scroll-behavior: smooth;
}
body {
    margin: 20px ;
    padding: 0%;
    background-color: var(--first-color);
    text-align: center;
}

header {
    height: 15vh;
}

.flash {
    color: var(--second-color);
    transition: 1s;
    font-size: 25px;
    margin-left: 0%;
    margin-right: 20px;
    transition: 1s;
    position: relative;
    top: 7px;
}

#flash:hover {
    color: var(--third-color);
    transition: 1s;
}

.loader img {
    width: 20px;
    height: auto;

}

#load-logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  margin-top: 16em;
  width: 40%;
}

#logo {
    width: auto;
    height: 35px;
}

.invert {
    filter: invert(100%);
}

.icons {
    text-align: center;
    font-size: 30px;
    margin-left: 0%;
    margin-right: 20px;
    transition: 0.5s;
}

.navigace {
    padding-top: 25px;
    padding-bottom: 5px;
    padding-right: 70px;
    margin: 0;
    word-spacing: 75px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: var(--second-font);
    position: fixed;
    top: 0%;
    flex-wrap: nowrap;
    height: 80px;
    width: 99%;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    /*background-color: rgb(158, 97, 215);*/
    background: transparent;
    font-weight: 400;
    z-index: 25;
}


.navigace a {
    padding-top: 0%;
    padding-bottom: 10px;
    color: var(--second-color);
    text-decoration: none;
}

.navigace a:hover {
    color: var(--third-color);
}

#current{
    color: var(--third-color);
}

#mobile-logo {
    width: auto;
    height: 35px;
    padding: 20px;
    text-align: center;
}

.mobile-nav {
    text-align: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--second-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-weight: 400;
}
  
.mobile-nav a {
    padding: 8px 8px 16px 16px;
    text-decoration: none;
    font-size: 25px;
    color: var(--first-color);
    display: block;
    transition: 0.4s;
    font-family: var(--second-font);
    text-transform: uppercase;
}
  
.mobile-nav a:hover {
    color: var(--third-color);
    text-decoration: underline;
}
  
.mobile-nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
}

.mobile-nav .closebtn:hover {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
}

.open { color: var(--second-color);
padding: 0%;
text-align: right;}

/*.icons {
    text-align: center;
    font-size: 30px;
    margin-left: 0%;
    margin-right: 20px;
    transition: 1s;
}

.star-icon {
    color: var(--second-color);
    padding: 12px;
    transition: 1s;
}

.star-icon:hover {
    color: var(--third-color);
    transition: 1s;
}

.home-icon {
    color: var(--second-color);
    padding: 12px;
    text-decoration: none;
    transition: 1s;
}

.home-icon:hover {
    color: var(--third-color);
    transition: 1s;
}*/

.card {
    width: 230px;
    height: 380px;
   /* background-color: var(--second-color);*/
    border: 2px var(--third-color) solid;
    border-radius: 20px;
    display: inline-block;
    margin-top: 170px;
    margin-right: 70px;
    margin-left: 70px;
    filter: brightness(90%);
    transition: 1s;
}

/*.card:hover {
    width: 240px;
    height: 390px;
    transition: 1s;
    
}*/

.card #icon1, .card #icon2, .card #icon3{
    font-size: 70px;
    padding-top: 80px;
    color: var(--second-color);
    transition: 1s;
}

.card:hover #icon1, .card:hover #icon2, .card:hover #icon3 {
    font-size: 100px;
    transition: 1s;
}

.card:hover h2 {
    padding-top: 5px;
    transition: 5s;
}

.card h2 {
    color: var(--second-color);
    padding-top: 35px;
    transition: 5s;
    font-family: var(--second-font);
    font-weight: 400;
}

.card .ai, .card .ps, .card .xd, .card:hover .ai, .card:hover .ps,.card:hover .xd {
    transition: 1s;
}

.card .btn {
    background-color: var(--third-color);
    padding: 5px 13px 5px 13px;
    border-radius: 5px;
    border: 0.5px solid var(--third-color);
    font-family: var(--second-font);
    transition: 0.3s;
}

.card .btn a {
    color: var(--first-color);
    letter-spacing: 0.3px;
    text-decoration: none;
    transition: 1s;
}


.card button:hover {
    background-color: var(--fourth-color);
    transition: 1s;
    border: 0.5px solid var(--fourth-color);
}




@media screen and (max-width: 5000px ) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 20%;}
}

@media screen and (max-width: 915px) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 30%;}
}

@media screen and (max-width: 550px) {
    #load-logo {display: block; margin-left: auto;margin-right: auto;margin-bottom: 0%;margin-top: 16em;width: 40%;}
}

/*html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--first-color);
    margin: 0%;
    padding: 0%;
}


.loader img {
    width: 20px;
    height: auto;

}

#load-logo {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  margin-top: 16em;
  width: 40%;
}

.invert {
    filter: invert(100%);
}


.icons {
    text-align: center;
    font-size: 30px;
    margin-left: 0%;
    margin-right: 20px;
    margin-top: 20px;
    transition: 0.5s;
}

.star-icon {
    color: var(--second-color);
    padding: 12px;
    transition: 0.5s;
}

.star-icon:hover {
    color: var(--third-color);
    transition: 0.5s;
}

.home-icon {
    color: var(--second-color);
    padding: 12px;
    text-decoration: none;
    transition: 0.5s;
}

.home-icon:hover {
    color: var(--third-color);
    transition: 0.5s;
}

.portfolio-icon {
    color: var(--second-color);
    padding: 12px;
    text-decoration: none;
    transition: 0.5s;
}

.portfolio-icon:hover {
    color: var(--third-color);
    transition: 0.5s;
}

.mojelogo, .postavy, .infografika, .logo, .webovky, .emoji {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}

.mojelogo h4, .postavy h4, .infografika h4, .logo h4, .webovky h4, .emoji h4 {
    font-size: 50px;
    color: var(--second-color);
    padding: 20px;
    font-family: var(--first-font);
    text-transform: uppercase;
    font-weight: 400;
    transition: 0.5s;
}



.grafika1, .grafika2, .grafika3, .grafika4, .grafika5, .grafika6, .grafika7, .grafika8 {
    display: flex;
    justify-content: center ;
    align-items: center;
    padding: 0%;
    margin: 0%;
    transition: 0.5s;
}

.grafika1 img, .grafika2 img, .grafika3 img, .grafika4 img, .grafika5 img, .grafika6 img, .grafika7 img , .grafika8 img {
    width: auto;
    height: 200px;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    margin-bottom: 25px;
    border-color: var(--fourth-color);
    transition: 0.5s;
    
}    

.grafika8-1 a{
    text-decoration: none;
    transition: 0.5s;
    color: var(--second-color);
}

.grafika8-1 a:hover {
    color: var(--third-color);
}

.grafika8-1 a:active{
    color: var(--third-color);
}

.grafika1 img:hover, .grafika2 img:hover, .grafika3 img:hover, .grafika4 img:hover, .grafika5 img:hover, .grafika6 img:hover, .grafika7 img:hover, .grafika8 img:hover {
    border-color: var(--third-color);
    transition: 0.5s;
}

.grafika1 p, .grafika2 p, .grafika3 p, .grafika4 p, .grafika5 p, .grafika6 p, .grafika7 p, .grafika8 p {
    font-family: var(--second-font);
    font-size: 18px;
    color: var(--fourth-color);
    margin-bottom: 30px;
    font-weight: 400;
    transition: 0.5s;
    text-transform: uppercase;
}

.grafika1 p:hover, .grafika2 p:hover, .grafika3 p:hover, .grafika4 p:hover, .grafika5 p:hover, .grafika6 p:hover, .grafika7 p:hover, .grafika8 p:hover  {
    color: var(--second-color);
    transition: 0.5s;
}

.grafika1-1 img, .grafika1-2 img, .grafika2-1 img, .grafika2-2 img, .grafika2-3 img, .grafika3-1 img, .grafika4-1 img, .grafika4-2 img, .grafika5-1 img, .grafika5-2 img, .grafika5-3 img, .grafika6-1 img, .grafika6-2 img, .grafika6-3 img, .grafika6-4 img, .grafika7-1 img, .grafika7-2 img, .grafika7-3 img, .grafika8-1 img, .grafika8-2 img, .grafika8-3 img {
    margin-left: 90px;
    margin-right: 90px;
    transition: 0.5s;
}

.grafika7 p {
    margin-bottom: 100px;
    transition: 0.5s;
}

@media screen and (max-width: 5000px ) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 20%;}
}

@media screen and (max-width: 1850px){ 
    .grafika1 img, .grafika2 img, .grafika3 img, .grafika4 img, .grafika5 img, .grafika6 img, .grafika7 img, .grafika8 img {width: auto; height: 150px;}    
}

@media screen and (max-width: 1630px){ 
    .grafika1 img, .grafika2 img, .grafika3 img, .grafika4 img, .grafika5 img, .grafika6 img, .grafika7 img, .grafika8 img {width: auto; height: 120px; }    
    .mojelogo, .postavy, .infografika, .logo, .webovky, .emoji { padding: 0%; text-align: center;}
    .mojelogo h4, .postavy h4, .infografika h4, .logo h4, .webovky h4, .emoji h4 {padding: 5px;}
}

@media screen and (max-width: 1310px){ 
    .grafika1-1 img, .grafika1-2 img, .grafika2-1 img, .grafika2-2 img, .grafika2-3 img, .grafika3-1 img, .grafika4-1 img, .grafika4-2 img, .grafika5-1 img, .grafika5-2 img, .grafika5-3 img, .grafika6-1 img, .grafika6-2 img, .grafika6-3 img, .grafika6-4 img, .grafika7-1 img, .grafika7-2 img, .grafika7-3 img, .grafika8-1 img, .grafika8-2 img, .grafika8-3 img {
        margin-left: 50px; margin-right: 50px;}
    .grafika1 p, .grafika2 p, .grafika3 p, .grafika4 p, .grafika5 p, .grafika6 p, .grafika7 p, .grafika8 {
        font-size: 12px;margin: 10px;
    }
}

@media screen and (max-width: 1075px){ 
    .grafika1-1 img, .grafika1-2 img, .grafika2-1 img, .grafika2-2 img, .grafika2-3 img, .grafika3-1 img, .grafika4-1 img, .grafika4-2 img, .grafika5-1 img, .grafika5-2 img, .grafika5-3 img, .grafika6-1 img, .grafika6-2 img, .grafika6-3 img, .grafika6-4 img, .grafika7-1 img, .grafika7-2 img, .grafika7-3 img, .grafika8-1 img, .grafika8-2 img, .grafika8-3 img {
        margin-left: 30px; margin-right: 30px;}
    .grafika1 p, .grafika2 p, .grafika3 p, .grafika4 p, .grafika5 p, .grafika6 p, .grafika7 p, .grafika8 p {font-size: 12px;margin-left: 25px; margin-right: 25px;}
}

@media screen and (max-width: 990px){ 
    .grafika1, .grafika2, .grafika3, .grafika4, .grafika5, .grafika6, .grafika7, .grafika8 { display: flex;}
    .grafika1 img, .grafika2 img, .grafika3 img, .grafika4 img, .grafika5 img, .grafika6 img, .grafika7 img, .grafika8 img {width: auto; height: 100px; }    
    .mojelogo h4, .postavy h4, .infografika h4, .logo h4, .webovky h4, .emoji h4 {margin: 25px; font-size: 35px;}
    .grafika1 p, .grafika2 p, .grafika3 p, .grafika4 p, .grafika5 p, .grafika6 p, .grafika7 p, .grafika8 p {font-size: 12px;margin-left: 10px; margin-right:10px; }
    .grafika1-1 img, .grafika1-2 img, .grafika2-1 img, .grafika2-2 img, .grafika2-3 img, .grafika3-1 img, .grafika4-1 img, .grafika4-2 img, .grafika5-1 img, .grafika5-2 img, .grafika5-3 img, .grafika6-1 img, .grafika6-2 img, .grafika6-3 img, .grafika6-4 img, .grafika7-1 img, .grafika7-2 img, .grafika7-3 img, .grafika8-1 img, .grafika8-2 img, .grafika8-3 img {margin-left: 20px;margin-right: 20px; }
}

@media screen and (max-width: 915px) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 30%;}
}

@media screen and (max-width: 550px) {
    #load-logo {display: block; margin-left: auto;margin-right: auto;margin-bottom: 0%;margin-top: 16em;width: 40%;}
}

@media screen and (max-width: 420px){ 
    .grafika1, .grafika2, .grafika3, .grafika4, .grafika5, .grafika6, .grafika7, .grafika8 { display: grid;}
    .grafika1 img, .grafika2 img, .grafika3 img, .grafika4 img, .grafika5 img, .grafika6 img, .grafika7 img, .grafika8 img {width: auto; height: 140px; }    
    .mojelogo h4, .postavy h4, .infografika h4, .logo h4, .webovky h4, .emoji h4 {margin: 25px; font-size: 25px;}
    .grafika1 p, .grafika2 p, .grafika3 p, .grafika4 p, .grafika5 p, .grafika6 p, .grafika7 p, .grafika8 p {font-size: 12px;margin-left: 35px; margin-right: 35px; color: var(--second-color);}
}*/

@media screen and (max-width: 5000px ) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 20%;}
}

@media screen and (max-width: 915px) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 30%;}
}

@media screen and (max-width: 550px) {
    #load-logo {display: block; margin-left: auto;margin-right: auto;margin-bottom: 0%;margin-top: 16em;width: 40%;}
}

@media screen and (max-width: 5000px ) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 20%;}
}

@media screen and (max-width: 915px) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 30%;}
}

@media screen and (max-width: 550px) {
    #load-logo {display: block; margin-left: auto;margin-right: auto;margin-bottom: 0%;margin-top: 16em;width: 40%;}
}

@media screen and (max-width: 5000px ) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 20%;}
}

@media screen and (max-width: 915px) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 30%;}
}

@media screen and (max-width: 810px) {
    .navigace {word-spacing: 70px ;}
}

@media screen and (max-width: 780px) {
    .navigace {word-spacing: 60px ;}
}

@media screen and (max-width: 740px) {
    .navigace {word-spacing: 55px ;}
}

@media screen and (max-width: 705px) {
    .navigace {word-spacing: 45px;}
}

@media screen and (max-width: 660px) {
    .navigace {word-spacing: 40px;}
}

@media screen and (max-width: 618px) {
    .navigace {font-size: 12px;}
}

@media screen and (max-width: 560px) {
    .navigace {font-size: 10px;  }
}

/*mobile nav*/

@media screen and (min-width: 550px) {
    .navigace {display: block;}
    .mobile-nav {display: none;
        padding-top: 15px;}
    .open {display: none;}
    .open-mobile-nav {display: none;}
    .header2 {display:none;}
    .header1 { display: block;}
}

@media screen and (max-width: 550px) {
    .navigace {display: none;}
    .mobile-nav {display: block;}
    .mobile-nav {padding-top: 15px;}
    .mobile-nav a {font-size: 18px;}
    .open {display: block;}
    .open-mobile-nav {display: block;}
    #load-logo {display: block; margin-left: auto;margin-right: auto;margin-bottom: 0%;margin-top: 15em;width: 40%;}
    .header1 {display: none;}
    .header2 {display: block;}
}

