
.card {
    width: 230px;
    height: 380px;
    /*background-color: var(--second-color);*/
    border:  2px var(--third-color) solid;
    border-radius: 20px;
    display: inline-block;
    margin-top: 120px;
    margin-right: 70px;
    margin-left: 70px;
    filter: brightness(90%);
    transition: 1s;


}

/*.card:hover {
    width: 240px;
    height: 390px;
    transition: 1s;
    
}*/

.card:hover #icon1, .card:hover #icon2, .card:hover #icon3,  .card:hover #icon4 {
    font-size: 100px;
    transition: 1s;
}

.card:hover h2 {
    padding-top: 5px;
    transition: 5s;
}

.card h2 {
    color: var(--second-color);
    padding-top: 35px;
    transition: 1s;
}

.card .web  {
    /*font-family: 'Source Code Pro', monospace;*/
    font-family: var(--second-font);
    letter-spacing: 1.5px;
    transition: 1s;
    font-weight: 400;
}

.card .foto {
    /*font-family: 'Dancing Script', cursive;*/
    font-family: var(--second-font);
    letter-spacing: 1px;
    font-weight: 400;
    transition: 1s;
}

.card .grafika {
    /*font-family: 'Comic Neue', cursive;*/
    font-family: var(--second-font);
    letter-spacing: 0.75px;
    transition: 1s;
   /* font-weight: 300;*/
   font-weight: 400;
}

.card .texty {
   /* font-family: 'Ibarra Real Nova', serif;*/
   font-family: var(--second-font);
    letter-spacing: 2px;
    transition: 1s;
    font-weight: 400;
}

.card:hover .web, .card:hover .foto, .card:hover .grafika, .card:hover .texty  {
    transition: 1s;
}

.card .grafika  {
    top: 2px;
}

.card p {
    color: var(--fourth-color);
    transition: 1s;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    font-family: var(--second-font);
}

.card .btn {
    background-color: var(--third-color);
    padding: 5px 13px 5px 13px;
    border-radius: 5px;
    border: 0.5px solid var(--third-color);
    font-family: var(--second-font);
    transition: 0.3s;
}

.card .btn a {
    color: var(--first-color);
    letter-spacing: 0.3px;
    text-decoration: none;
    transition: 1s;
}


.card button:hover {
    background-color: var(--fourth-color);
    transition: 1s;
    border: 0.5px solid var(--fourth-color);
}

.card #icon1, .card #icon2, .card #icon3, .card #icon4 {
    font-size: 70px;
    padding-top: 80px;
    color: var(--second-color);
    transition: 1s;
}

footer {
    margin-top: 200px;
}

@media screen and (max-width: 5000px ) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 20%;}
}

@media screen and (max-width: 915px) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 30%;}
}

@media screen and (max-width: 550px) {
    #load-logo {display: block; margin-left: auto;margin-right: auto;margin-bottom: 0%;margin-top: 16em;width: 40%;}
}

@media screen and (max-width: 5000px ) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 20%;}
}

@media screen and (max-width: 915px) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 30%;}
}

@media screen and (max-width: 550px) {
    #load-logo {display: block; margin-left: auto;margin-right: auto;margin-bottom: 0%;margin-top: 16em;width: 40%;}
}

@media screen and (max-width: 5000px ) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 20%;}
}

@media screen and (max-width: 915px) {
    .loader img {width: 10px;height: auto;}
    #load-logo {display: block; position: absolute; top: 23%; left: 50%; transform: translate(-50%, -50%); width: 30%;}
}

@media screen and (max-width: 810px) {
    .navigace {word-spacing: 70px ;}
}

@media screen and (max-width: 780px) {
    .navigace {word-spacing: 60px ;}
}

@media screen and (max-width: 740px) {
    .navigace {word-spacing: 55px ;}
}

@media screen and (max-width: 705px) {
    .navigace {word-spacing: 45px;}
}

@media screen and (max-width: 660px) {
    .navigace {word-spacing: 40px;}
}

@media screen and (max-width: 618px) {
    .navigace {font-size: 12px;}
}

@media screen and (max-width: 560px) {
    .navigace {font-size: 10px;  }
}

/*mobile nav*/

@media screen and (min-width: 550px) {
    .navigace {display: block;}
    .mobile-nav {display: none;
        padding-top: 15px;}
    .open {display: none;}
    .open-mobile-nav {display: none;}
    .header2 {display:none;}
    .header1 { display: block;}
}

@media screen and (max-width: 550px) {
    .navigace {display: none;}
    .mobile-nav {display: block;}
    .mobile-nav {padding-top: 15px;}
    .mobile-nav a {font-size: 18px;}
    .open {display: block;}
    .open-mobile-nav {display: block;}
    #load-logo {display: block; margin-left: auto;margin-right: auto;margin-bottom: 0%;margin-top: 15em;width: 40%;}
    .header1 {display: none;}
    .header2 {display: block;}
}