
.webovky {
    display: grid;
    grid-template-columns: auto;
    grid-column: auto;
    justify-content: center;
    align-items: center;
}

.card1, .card2 {
    position: relative;
    text-align: center;
    margin: 40px;
    padding: 0%;
    width: fit-content;
    height: fit-content;
}

.card1 img, .card2 img {
    filter: brightness(20%);
    transition: 0.5s;
    border-radius: 3.5px;
    height: 300px;
    width: 530px;
    padding: 0%;
}

.card1:hover img, .card2:hover img {
    filter: brightness(80%);
}

.card1:hover h4, .card2:hover h4 {
    display: none;
}

.container1, .container2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0%;
}

.container1 h4, .container2 h4 {
    color: var(--first-color);
    font-family: var(--second-font);
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 2px 2px 4px var(--second-color), 2px 2px 6px var(--second-color), 2px 2px 8px var(--second-color), 2px 2px 10px var(--second-color);
    font-weight: 300;
    padding: 0%;
}

#kontakt {
    margin-top: 50px;
}

@media screen and (max-width: 1028px){
    .pic1 img, .pic2 img, .pic3 img {width: 400px; height: auto;}
    .pic4 img { width: 300px; height: auto;}
}


@media screen and (max-width: 550px){
    .card1 img {height: 200px; width: 350px;}
}